@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-helvetica: var(--font-helvetica-neue);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Nedel */
  --color-nedel-blue: var(--blue-ribbon-500);
  --color-nedel-medium-blue: var(--royal-blue-600);
  --color-nedel-black-blue: var(--daintree-800);
  --color-nedel-green: var(--mountain-meadow-500);
  --color-nedel-dark-green: var(--mountain-meadow-700);
  --color-nedel-white: var(--white-50);
  --color-nedel-highlight-gray: var(--quill-gray-100);
}

:root {
  /* shadcn */
  --background: var(--white-50);
  --foreground: var(--white-900);
  --card: var(--white-50);
  --card-foreground: var(--white-900);
  --popover: var(--white-50);
  --popover-foreground: var(--white-900);
  --primary: var(--blue-ribbon-500);
  --primary-foreground: var(--white-50);
  --secondary: var(--quill-gray-100);
  --secondary-foreground: var(--quill-gray-800);
  --muted: var(--white-100);
  --muted-foreground: var(--white-500);
  --accent: var(--blue-ribbon-50);
  --accent-foreground: var(--blue-ribbon-700);
  --destructive: var(--blue-ribbon-700);
  --destructive-foreground: var(--white-50);
  --border: var(--white-200);
  --input: var(--white-200);
  --ring: var(--blue-ribbon-400);
  --chart-1: var(--blue-ribbon-500);
  --chart-2: var(--daintree-300);
  --chart-3: var(--royal-blue-500);
  --chart-4: var(--daintree-600);
  --chart-5: var(--quill-gray-400);
  --radius: 0.625rem;
  --sidebar: var(--white-100);
  --sidebar-foreground: var(--white-900);
  --sidebar-primary: var(--blue-ribbon-600);
  --sidebar-primary-foreground: var(--white-50);
  --sidebar-accent: var(--blue-ribbon-50);
  --sidebar-accent-foreground: var(--blue-ribbon-700);
  --sidebar-border: var(--white-200);
  --sidebar-ring: var(--blue-ribbon-400);

  --blue-ribbon-50: #eef0ff;
  --blue-ribbon-100: #d4daff;
  --blue-ribbon-200: #abb9ff;
  --blue-ribbon-300: #849cff;
  --blue-ribbon-400: #5881ff;
  --blue-ribbon-500: #0066ff;
  --blue-ribbon-600: #0055d8;
  --blue-ribbon-700: #003fa4;
  --blue-ribbon-800: #00276c;
  --blue-ribbon-900: #000e33;
  --white-50: #ffffff;
  --white-100: #f7f7f7;
  --white-200: #e0e0e0;
  --white-300: #c5c5c5;
  --white-400: #a7a7a7;
  --white-500: #898989;
  --white-600: #6a6a6a;
  --white-700: #4b4b4b;
  --white-800: #2e2e2e;
  --white-900: #111111;
  --daintree-50: #e3f3ff;
  --daintree-100: #b1e0ff;
  --daintree-200: #2ec5ff;
  --daintree-300: #00a6da;
  --daintree-400: #0089b5;
  --daintree-500: #006f92;
  --daintree-600: #005673;
  --daintree-700: #003f55;
  --daintree-800: #051c2c;
  --daintree-900: #00131c;
  --quill-gray-50: #f1f1ee;
  --quill-gray-100: #d9d9d6;
  --quill-gray-200: #c8c8c5;
  --quill-gray-300: #b1b1af;
  --quill-gray-400: #989896;
  --quill-gray-500: #7d7d7b;
  --quill-gray-600: #616160;
  --quill-gray-700: #464645;
  --quill-gray-800: #2b2b2a;
  --quill-gray-900: #111110;
  --royal-blue-50: #edf0ff;
  --royal-blue-100: #d5dbff;
  --royal-blue-200: #adbcff;
  --royal-blue-300: #889fff;
  --royal-blue-400: #5f85ff;
  --royal-blue-500: #1f6cff;
  --royal-blue-600: #0058db;
  --royal-blue-700: #0044ad;
  --royal-blue-800: #002a72;
  --royal-blue-900: #000e32;
  --mountain-meadow-50: #e7faec;
  --mountain-meadow-100: #c4f4d2;
  --mountain-meadow-200: #93ecb1;
  --mountain-meadow-300: #5fe18d;
  --mountain-meadow-400: #3ad971;
  --mountain-meadow-500: #25d366;
  --mountain-meadow-600: #1eb556;
  --mountain-meadow-700: #16923f;
  --mountain-meadow-800: #0d5c28;
  --mountain-meadow-900: #052a12;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.424 0.199 265.638);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.785 0.115 274.713);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.511 0.262 276.966);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-helvetica;
  }
  html {
    @apply font-sans;
  }
  h1 {
    @apply text-4xl font-bold font-inter;
  }
  h2 {
    @apply text-3xl font-semibold font-inter;
  }
  h3 {
    @apply text-2xl font-medium font-inter;
  }
  h4 {
    @apply text-xl font-medium font-inter;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}
